/**
  #484743
  #21A5BD
  #43CABD
  #E8E7E3
  #454544
*/
@font-face {
  font-family: screen;
  src: url(fonts/screen.ttf);
}

@font-face {
  font-family: MainFont;
  src: url(fonts/default.ttf);
}

html, body {
  background-color: #F9F8F3;
  padding: 0;
  margin: 0;
  font-family: MainFont;
  font-size: 14px;
  color: #555;
}

h1 {
  margin: 0;
  padding: 30px 0 10px 0;
}

section {
  display: none;
}

section.active {
  display: block;
}


input, textarea, select {
  font-family: MainFont;
}

input:focus, textarea:focus, select:focus {
  box-shadow: none;
  outline: none;
}

select {
  font-size: 14px;
  font-family: MainFont;
  border: 1px solid #43CABD;
  background-color: transparent;
}

.btn {
  cursor: pointer;
  text-align: center;
  font-size: 15px;
}

.screen {
  font-family: screen;
  line-height: 1.2em;
}

.range {
  white-space: nowrap;
  color: #fff;
}

.input-group, .btn {
  font-family: MainFont, sans-serif;
}

#top-gradient {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 20px;
  height: 100px;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(249,249,243,1) 41%, rgba(249,249,243,0.96) 46%, rgba(249,249,243,0.78) 71%, rgba(249,249,243,0) 100%)
}

#main-menu {
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  position: fixed;
  padding: 0 20px;
}

#main-menu .btn {
  color: #7A869F;
  text-align: center;
  line-height: 70px;
  height: 70px;
  margin-right: 50px;
  display: inline-block;
}


#main-menu .btn:last-child {
  margin-right: 0;
}

#main-menu .btn i {
  font-size: 30px;
  width: 70px;
  line-height: 70px;
}

#main-menu .btn.active {
  color: #AC70FA;
}

#main-menu .btn.btn-settings {
  position: absolute;
  right: 0;
  top: 0;
}

#side-bar {
  bottom: -70px;
  left: 0;
  right: 0;
  height: 70px;
  position: fixed;
  background-color: #1A1C25;
  overflow: hidden;
  transition: bottom 0.3s ease-in;
}

.connected #side-bar {
    bottom: 0;
}

#side-bar .range {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 400px;
  line-height: 100px;
  padding: 10px 0;
  color: #AC70FA;
  background-color: #222632;
}

#side-bar .range canvas {
  vertical-align: top;
}

#side-bar .input-group,
#side-bar .btn {
  color: #fff;
  display: inline-block;
  line-height: 70px;
  margin-right: 30px;
  vertical-align: top;
}

#side-bar .input-group {
  width: 181px;
}

#side-bar .input-group label {
  line-height: 70px;
  display: inline-block;
  vertical-align: top;
}

#side-bar .input-group input {
  color: #fff;
  background-color: transparent;
  border: 0;
  font-size: 30px;
  text-align: right;
  font-family: MainFont, sans-serif;
  width: 120px;
  line-height: 70px;
}

#side-bar .input-group input:focus {
  background-color: #222632;
}

#side-bar .btn {
  font-family: MainFont, sans-serif;
  width: 100px;
  display: none;
}

#side-bar .btn.active {
  display: inline-block;
}

#side-bar .btn:hover {
  background-color: #222632;
}

#side-bar .btn:active {
  background-color: #AC70FA;
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 70px;
  right: 0;
  overflow: auto;
  padding: 90px 20px;
}

.disconnected #container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  padding: 90px 20px;
}

#capture .range {
  height: 50px;
  color: #43CABD;
  padding-bottom: 10px;
}

#capture .item {
  margin-bottom: 20px;
  border-bottom: 1px solid #E8E7E3;
  position: relative;
}

#capture .item .name {
  color: #454544;
  background-color: transparent;
  border: 0;
  font-size: 16px;
  text-align: left;
  font-family: MainFont, sans-serif;
  margin-bottom: 10px;
  width: 50%;
}

#capture .item .progress {
  height: 1px;
  left: 0;
  bottom: -1px;
  width: 50%;
  background-color: #CA4350;
  position: absolute;
}

#capture .read-done .progress {
  opacity: 0;
  transition: opacity 1s ease-in;
}

#capture .item .toolbar {
  background-color: #red;
  height: 20px;
}

#capture .item .toolbar .btn {
  color: #484743;
  display: inline-block;
  float: right;
  line-height: 22px;
}

.create-range .fa-check {
  display: none;
}

.create-range.active .fa-close {
  display: none;
}

.create-range.active .fa-check {
  display: inline-block;
}

.create-range  h1 {
  cursor: pointer;
}

.create-range.active h1 {
  color: #43CABD;
}

.create-range .options {
  display: none;
  font-size: 20px;
}

.create-range .options input {
  border: 0;
  border-bottom: 1px solid #43CABD;
  background-color: transparent;
  font-size: 20px;
}

.create-range .options .zero-prepend {
  border-bottom: 1px solid #43CABD;
  font-size: 20px;
  display: inline-block;
  line-height: 1.3;
}

.create-range.active .options {
  background-color: #fff;
  border: 1px solid #E8E7E3;
  padding: 20px;
  display: block;
}

.create-range.list ul {
  margin: 10px 0 0 0;
  padding: 0;
}

.create-range.list li::after {
  content: ',';
  position: relative;
  top: 8px;
  margin-right: 5px;
}

.create-range.list li {
  display: inline-block;
  margin-top: 10px;
}

#settings {
  padding-top: 10px;
}

#settings .device {
  width: 523px;
  background-color: #31302F;
}

#settings .screen {
  background: url(img/screen.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 40px 47px;
  box-sizing: border-box;
  font-size: 40px;
  color: #fff;
  width: 523px;
  height: 166px;
  box-sizing: border-box;
  background-color: #31302F;
  letter-spacing: -3px;
  line-height: 44px;
}

#settings .device-selector {
  font-size: 0;
  background-color: #31302F;
  width: 523px;
  white-space: nowrap;
}

#settings .device-selector .device-list,
#settings .device .btn {
  font-size: 20px;
  line-height: 40px;
  border: 0;
  padding: 0 20px;
  color: #fff;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
}

#settings .device-selector .device-list {
  width: 350px;
}

#settings .device .control {
  height: 40px;
}

#settings .device .btn {
  display: inline-block;
}

#settings .device .control .btn {
  float: right;
}

#settings .device .btn:hover {
  background-color: #43CABD;
}

#settings .device-selector .btn-disconnect {
  float: right;
}

.disconnected #settings .device-selector .btn-disconnect {
  display: none;
}

.connected #settings .device-selector .btn-refresh,
.connected #settings .device-selector .btn-connect {
  display: none;
}
