/**
  #484743
  #21A5BD
  #43CABD
  #E8E7E3
  #454544
  #1A1C25
*/
@font-face {
  font-family: screen;
  src: url(fonts/screen.ttf);
}

@font-face {
  font-family: MainFont;
  src: url(fonts/default.ttf);
}

html, body {
  background-color: #F5F6F8;
  padding: 0;
  margin: 0;
  font-family: MainFont;
  font-size: 14px;
  color: #555;
}

h1 {
  margin: 0;
  padding: 30px 0 10px 0;
}

section {
  display: none;
}

section.active {
  display: block;
}

input, textarea, select {
  font-family: MainFont;
}

input:focus, textarea:focus, select:focus {
  box-shadow: none;
  outline: none;
}

select {
  font-size: 14px;
  font-family: MainFont;
  border: 1px solid #43CABD;
  background-color: transparent;
}

.btn {
  cursor: pointer;
  text-align: center;
  font-size: 15px;
}

.range {
  white-space: nowrap;
  color: #fff;
}

.input-group, .btn {
  font-family: MainFont, sans-serif;
}

#main-menu {
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  position: fixed;
  padding: 0 20px;
}

#main-menu .btn {
  color: #ADB3B6;
  text-align: center;
  line-height: 50px;
  height: 50px;
  margin-right: 50px;
  display: inline-block;
  transition: color 0.5s ease-in;
}

#main-menu .btn:hover {
  color: #333;
}

#main-menu .btn:last-child {
  margin-right: 0;
}

#main-menu .btn i {
  font-size: 30px;
  width: 50px;
  line-height: 50px;
}

#main-menu .btn.active {
  color: #58BFE1;
}

#main-menu .btn.btn-settings {
  position: absolute;
  right: 0;
  top: 0;
}

#side-bar {
  bottom: -70px;
  left: 0;
  right: 0;
  height: 70px;
  position: fixed;
  background-color: #fff;
  overflow: hidden;
  transition: bottom 0.3s ease-in;

  border-top: 1px solid #E4E4E4;
}

.connected #side-bar {
    bottom: 0;
}

#side-bar .range {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  left: 320px;
  line-height: 100px;
  padding: 10px 0;
  color: #58BFE1;
}

#side-bar .range canvas {
  vertical-align: top;
}

#side-bar .input-group,
#side-bar .btn {
  color: #58BFE1;
  display: inline-block;
  line-height: 70px;
  vertical-align: top;
}

#side-bar .input-group {
  width: 181px;
}

#side-bar .input-group label {
  line-height: 70px;
  display: inline-block;
  vertical-align: top;
}

#side-bar .input-group input {
  color: #58BFE1;
  background-color: transparent;
  border: 0;
  font-size: 30px;
  text-align: right;
  font-family: MainFont, sans-serif;
  width: 120px;
  line-height: 70px;
}

#side-bar .input-group input:focus {
  background-color: #f8f8f8;
}

#side-bar .btn {
  font-family: MainFont, sans-serif;
  width: 100px;
  display: none;
}

#side-bar .btn.active {
  display: inline-block;
}

#side-bar .btn:hover {
  background-color: #eaeaea;
}

#side-bar .btn:active {
  background-color: #58BFE1;
  color: #fff;
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 70px;
  right: 0;
  overflow: auto;
  padding: 90px 20px;
}

.disconnected #container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  padding: 90px 20px;
}

#capture .range {
  height: 50px;
  color: #43CABD;
  padding-bottom: 10px;
}

#capture .item {
  margin-bottom: 20px;
  border-bottom: 1px solid #E8E7E3;
  position: relative;
}

#capture .item .name {
  color: #454544;
  background-color: transparent;
  border: 0;
  font-size: 16px;
  text-align: left;
  font-family: MainFont, sans-serif;
  margin-bottom: 10px;
  width: 50%;
}

#capture .item .progress {
  height: 1px;
  left: 0;
  bottom: -1px;
  width: 50%;
  background-color: #CA4350;
  position: absolute;
}

#capture .read-done .progress {
  opacity: 0;
  transition: opacity 1s ease-in;
}

#capture .item .toolbar {
  background-color: #red;
  height: 20px;
}

#capture .item .toolbar .btn {
  color: #484743;
  display: inline-block;
  float: right;
  line-height: 22px;
}

#settings {
  padding-top: 10px;
}

#settings .device {
  width: 523px;
  margin: auto;
}

#settings .graphic {
  font-family: screen;
  line-height: 1.2em;

  background: url(img/device.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 523px;
  height: 345px;

  padding: 40px 47px;
  box-sizing: border-box;
  font-size: 35px;
  color: #C03;
  letter-spacing: -2.5px;
  line-height: 44px;
}


#settings .graphic .line1 {
  left: 25px;
  top: 35px;
  position: relative;
}

#settings .graphic .line2 {
  left: 25px;
  top: 27px;
  position: relative;
}

#settings .device-selector {
  font-size: 0;
  background-color: #31302F;
  width: 523px;
  white-space: nowrap;
}

#settings .device-selector .device-list,
#settings .device .btn {
  font-size: 20px;
  line-height: 40px;
  border: 0;
  padding: 0 20px;
  color: #fff;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
}

#settings .device-selector .device-list {
  width: 350px;
}

#settings .device .control {
  height: 40px;
}

#settings .device .btn {
  display: inline-block;
}

#settings .device .control .btn {
  float: right;
}

#settings .device .btn:hover {
  background-color: #58BFE1;
}

#settings .device-selector .btn-disconnect {
  float: right;
}

.disconnected #settings .device-selector .btn-disconnect {
  display: none;
}

.connected #settings .device-selector .btn-refresh,
.connected #settings .device-selector .btn-connect {
  display: none;
}
